/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 20px 43px 20px 43px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border: none;
}

body {
    max-width: 1922px;
    margin: 0 auto;
    font-family: "Lato";
}

section {
    margin: 120px auto;
}

/* banner section style start here */
header {
    height: 800px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-content {
    width: 708px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.banner-discription {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}

.banner-img {
    width: 635px;
}

.banner-img>img {
    width: 100%;
}

.banner-taitel {
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
}

/* banner section style end here */
/* Our Featured Flowers section start here */
.featured-section-content {
    text-align: center;
    width: 594px;
    margin: 0 auto;
}

.featured-section-content>h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
}

.featured-section-content>p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin: 24px auto;
}

.featured-section-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flowers {
    width: 464px;
    height: 605px;
}

.flower-1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    background: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    background: rgba(71, 125, 17, 0.15);
}

.flower {
    width: 430px;
    height: 583px;
    padding: 50px 50px 0px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.flower-img-taitel {
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 15px;
}

/* Our Featured Flowers section end here */

/* Delivery and support section start here */
.delivery-and-support {
    width: 1440px;
    height: 320px;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.del-sip-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.del-sip-contant>p {
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
}

/* Delivery and support section end here */
/* Hot Deal ! Sale Up To 25% Off section start here */
.deal-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
}

.deal-contant {
    width: 594px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.deal-contant>h3 {
    font-size: 40px;
    font-weight: 800;
    color: rgb(39, 39, 39);
}

samp {
    color: rgb(229, 84, 115);
}

.deal-contant>p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}

/* Hot Deal ! Sale Up To 25% Off section end here */

/* Instagram section start here */
.insta-img {
    width: 342px;
    height: 396px;
}

.insta-img>img {
    width: 100%;
}

.instagram-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* Instagram section end here */
/* Subscribe section start here  */
.subscrib-section {
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    width: 1440px;
    height: 449px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.subscrib-section>h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
}

.subscrib-section>p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}

.email-subc {
    width: 700px;
    height: 64px;
    border: none;
}

.email-subc[placeholder] {
    padding: 20px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.sub-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Subscribe section end here  */
footer {
    background: rgb(17, 16, 16);
    height: 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

footer>h3 {
    font-size: 48px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
}

.foot-des {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.copy-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    text-align: center;
}