/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    border-radius: 8px;
    background: rgb(229, 84, 115);
    padding: 20px 43px 20px 43px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border: none;
}

body {
    max-width: 1922px;
    margin: 0 auto;
    font-family: "Lato";
}

/* banner section style start here */
header {
    height: 800px;
    background-color: rgba(229, 84, 115, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner-content {
    width: 708px;
    display: flex;
    flex-direction: column;
    gap:32px ;
}

.banner-discription {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
}

.banner-img {
    width: 635px;
}
.banner-img> img {
    width: 100%;
}

.banner-taitel {
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
}
/* banner section style end here */